<!-- <ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-2379010884109748"
     ></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

<!DOCTYPE html>
<html>
<head>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2379010884109748"
crossorigin="anonymous"></script>
<meta name="google-adsense-account" content="ca-pub-2379010884109748">
</head>
<body>

</body>
</html>
